# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.ipynb_checkpoints/

# Large original data file - ignored
data/airline_passenger_satisfaction.csv

# Models - not needed anymore
models/*.pkl

# Keep sample csv - DO NOT ignore it
# data/airline_sample.csv  ← this line should NOT exist